typing  # allows us to define constants that shouldn't change
os  # lets us access environment variables
discord 
python-dotenv # helps load environment variables from a .env file
openai==0.28.0  # gpt model

